/* Author

Name: Nur Mohammad Mamun;
Email : king.mamun007@gmail.com;

*/


/*

=====Index=====

1. Header
2. Home
3. About Us
4. Our Approch
5. Our Work
6. Free Consultation
7. Footer

*/


/*Global CSS*/
.no-padding {
	padding: 0px;
	margin: 0px;
}



/*Theme CSS*/

/*Header section starts*/
.navbar {
	background-color: #fff!important;
	padding: 20px 0px;
}

.nav-link {
    color: #161616!important;
    display: block;
    margin: 9px 5px;
    font-weight: 600;
}

.btn-menu {
    background-color: #DE2B24;
    color: white;
    border: none;
    padding: 10px 20px;
    display: block;
    margin: -8px auto;
    font-weight: 500;
    border-radius: 5px;
}
/*Header section ends*/


/*Banner section starts*/
.banner {
	background: url(../img/banner.png)no-repeat;
	background-size: cover;
}

.banner h2 {
	text-align: center;
	padding-top: 150px;
	font-size: 48px;
	font-weight: 600;
	color: #fff;
}

.banner h3 {
	text-align: center;
	font-size: 30px;
	color: #fff;
	font-weight: 100;
}

.btn {
	display: block;
	margin: 35px auto 135px;
	background-color: #f8cd53;
	color: #fff;
	font-weight: 600;
	padding: 20px 40px;
}

.btn:hover {
	background-color: #DE2B24;
	transition: 0.5s ease;
	color: #fff;
}
/*Banner section starts*/


/*About Us section starts*/
.about h2 {
	text-align: center;
	font-size: 36px;
	font-weight: 600;
	color: #161616;
	padding-top: 50px;
}

.about h3 {
	text-align: center;
	font-size: 20px;
	color: #161616;
}

.about span {
	display: block;
	border-bottom: 5px solid #161616;
	width: 45px;
	margin: 15px auto 0px;
}

.icons {
	margin: 45px 0px 90px;
}

.icons img {
	display: block;
	margin: 0 auto;
}

.icons h1 {
	font-size: 22px;
	text-align: center;
	color: #161616;
	font-weight: 700;
	padding: 15px 0px;
}

.icons p {
	font-size: 13px;
	text-align: center;
	color: #161616;
}
/*About Us section starts*/


/*Our Approch section starts*/
.approch {
	background-color: #f3f3f3;
	padding-bottom: 30px;
}

.approch h2 {
	text-align: center;
	font-size: 36px;
	font-weight: 600;
	color: #161616;
	padding-top: 50px;
}

.approch h3 {
	text-align: center;
	font-size: 20px;
	color: #161616;
}

.approch span {
	display: block;
	border-bottom: 5px solid #161616;
	width: 45px;
	margin: 15px auto 30px;
}

.approch-text {
	background-color: #fff;
	padding: 50px;
}

.approch-text h2 {
	font-size: 18px;
	font-weight: 800;
	text-align: left;
	color: #161616;
}

.approch-text p {
	font-size: 13px;
	text-align: left;
	color: #161616;
}

.lines {
	padding: 30px 0px;
	position: relative;
}

.approch-text {
	position: relative;
}

.parent {
	position: relative;
}

.number-odd {
    position: absolute;
    top: 30%;
    right: -10%;
}

.number-even {
    position: absolute;
    top: 30%;
    right: 85%;
}
/*Our Approch section ends*/


/*Our Work section starts*/
.work {
	background-color: #de2b24;
}

.work h2 {
	text-align: center;
	font-size: 36px;
	font-weight: 600;
	color: #fff;
	padding-top: 50px;
}

.work h3 {
	text-align: center;
	font-size: 20px;
	color: #fff;
}

.work span {
	display: block;
	border-bottom: 5px solid #fff;
	width: 45px;
	margin: 15px auto 0px;
}

.work-project {
	margin: 50px 0px
}
/*Our Work section ends*/


/*Form section starts*/
.form {
	background-color: #1287bf;
}

.form h2 {
	text-align: center;
	font-size: 36px;
	font-weight: 600;
	color: #fff;
	padding-top: 50px;
}

.form p {
	text-align: center;
	color: #fff;
	font-size: 20px;
}

.arrow-button {
    display: block;
    margin: 35px auto;
    padding: 20px 27px;
    border-radius: 50px;
    background: #1287BF;
    border: 3px solid #fff;
}

.form button i {
    font-size: 50px;
    color: #fff;
}

.form-button {
    background-color: #DE2B24;
    color: white;
    border: none;
    padding: 10px 20px;
    display: block;
    margin: 50px auto 30px;
    font-weight: 500;
    border-radius: 5px;
}

.form-button:hover {
	background-color: #1287BF;
	transition: 0.5s ease;
	color: #fff;
}

.form-control {
    padding: 30px;
    margin: 20px 0px;
}

.submit {
    width: 75%;
    margin: 50px auto;
    background: #fff;
    border-radius: 5px;
    padding: 50px;
}

.submit p {
    text-align: center;
    font-size: 18px;
    color: #161616;
    margin-bottom: 40px;
}
/*Form section ends*/


/*Get In Touch section starts*/
.git {
	background-color: #2a2a2a;
}

.git h1 {
	color: #fff;
	text-align: center;
	font-size: 29px;
	font-weight: 600;
}

.git p {
	text-align: center;
	color: #fff;
}

.git ul {
	list-style: none;
	margin: 30px 350px;
}

.git li {
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    margin: 0 11px;
    font-size: 28px;
    padding: 6px 15px;
}

.git-email {
    border: navajowhite;
    width: 60%;
    margin: 30px auto;
    display: block;
    background-color: #515151;
    padding: 15px;
}

.git-button {
	background-color: #2a2a2a;
    color: white;
    border: 1px solid #fff;
    padding: 10px 20px;
    display: block;
    margin: 50px auto 30px;
    font-weight: 500;
    border-radius: 5px;
}

.git-button:hover {
	background-color: #515151;
	transition: 0.5s ease;
	color: #fff;
}

.fa.fa-facebook {
    padding: 0px 4px;
}
/*Get In Touch section ends*/


/*Footer section starts*/
footer {
	background-color: #515151;
}

footer p {
	text-align: center;
	color: #fff;
	padding: 30px;
}
/*Footer section ends*/